environment: {{ key "apps/eCommerce/environment" }}
version: {{ key "apps/eCommerce/version" }}
database_host: {{ key "apps/eCommerce/database_host" }}
database_name: {{ key "apps/eCommerce/database" }}